* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Website background Styling */
body {
  background-color: white;
  font-family: Condensed, sans-serif;
}




/* Navigation Bar 1 Styling */
.bar1 {
  background-color: #006dae;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.left img {
  height: 25px;
  width: 30px;
}

.mid {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.right {
  align-items: center;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.right li {
  display: flex;
  align-items: center;
}

.right img {
  height: 36px;
  width: 36px;
  margin-right: 0.5rem;
}





/* Navigation Bar 2 Styling */
.bar2 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
  display: flex;
  font-family: Roboto Condensed, sans-serif;
  font-weight: 790;
  line-height: 1.2;
}

.left2 {
  margin-top: 10px;
  margin-left: 5px;
}
/* Apply Button Styling */
.my-button {
  background-color: white;
  border: 2px solid #006dae;
  color: black;
  padding: 15px 55px;
  display: inline-block;
  font-size: 15px;
  margin: 3px 3px;
  cursor: pointer;
  border-radius: 1px;
  text-decoration: none;
  transition: background-color 0.5s, color;
  margin-left: 20rem;
}
/* Apply button Hover */
.my-button:hover {
  background-color: #006dae;
  color: white;
}
/* Navigation bar 2 mid buttons styling */
.mid2 {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-left: 18rem;
  align-items: center;
}
/* mid buttons Hover */
.mid2 > li {
  position: relative;
}

.mid2 > li > a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1rem;
  display: block;
  border-bottom: 6px solid transparent;
  transition: border-bottom 0.3s ease;
}

.mid2 > li > a:hover {
  border-bottom: 6px solid #006dae;
}
/* Mid buttons Dropdown */
.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  list-style: none;
  padding: 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: aliceblue;
}

.dropdown li a {
  font-weight: 150;
  color: #000000;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  margin-right: 7rem;
  font-size: large;
  padding: 10px 15px;
}

.dropdown li a:hover {
  text-decoration: underline;
  color: #004a80;
}

.mid2 > li:hover .dropdown {
  display: block;
}





/* Hero Image styling */
.headerbody {
  background-image: url('/Images/hero\ image.jpeg');
  background-size: cover;
  background-position: center;
  padding: 50px 20px;
  text-align: center;
  color: #fff;
  position: relative;
  height: 35vw;
}
/* Text 1 on image styling */
.headerbody1 {
  text-align: left;
  color: #f5f5f5;
  font-family: Roboto Condensed, sans-serif;
  font-size: larger;
  margin-top: 2rem;
  margin-left: 1rem;
}
/* Accept button styling */
.accept-offer {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}
/* search bar styling */
.search-bar input {
  padding: 13px;
  width: 500px;
  border: none;
  border-radius: 5px;
  margin-top: 5rem;
}






/* container styling for text */
.container {
  padding: 2rem;
  text-align: center;
}

.intro {
  margin-bottom: 2rem;
}

.intro h1 {
  font-size: 2.5rem;
  color: black;
  font-family: Roboto Condensed, sans-serif;
}

.intro p {
  font-size: 1.2rem;
  color: #000000;
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
/* Cards styiling */
.info-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 1.5rem;
  justify-content: center;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
  background-color: white;
  padding: 1rem;
  text-align: left;
  width: 100%;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card-content {
  flex: 1;
}

.card-image {
  width: 4.7rem;
  height: auto;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.card:hover {
  box-shadow: 0 6px 8px rgba(51, 50, 50, 0.3), -2px 2px 2px rgba(39, 39, 39, 0.1), 2px 2px 2px rgba(39, 39, 39, 0.1);
}

.card h3 {
  margin-bottom: 1rem;
  color: #006dae;
  font-weight: bold;
  font-size: 19.2px;
  font-family: 'Roboto Condensed', sans-serif;
}

.card p {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}




/* Cards with images styling */
.monash-change-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ddd;
  margin-top: 2rem;
  max-width: 73rem;
  margin: 0.8rem auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.text-content, .image-content {
  max-width: 50%;
  flex: 1;
  padding: 0 1rem;
}

.text-content {
  text-align: left;
  margin-left: 1.4rem;
}

.text-content h2 {
  font-size: 30.4px;
  font-weight: bolder;
  margin-bottom: 2rem;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
}

.text-content p {
  margin-bottom: 2rem;
  color: #555;
  font-family: 'Roboto', sans-serif;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #006dae;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-family: 'Roboto Condensed', sans-serif;
}

.image-content {
  position: relative;
}

.image-content img {
  width: 100%;
  margin-left: 1.1rem;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play-icon::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 12px 20px;
  border-color: transparent transparent transparent white;
}

.monash-lens-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ddd;
  margin-top: 2rem;
  max-width: 73rem;
  margin: 1.5rem auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.text-content, .image-content {
  max-width: 50%;
  flex: 1;
  padding: 0 1rem;
}

.text-content-lens {
  text-align: left;
  margin-left: 1.4rem;
}

.text-content-lens h2 {
  font-size: 30.4px;
  font-weight: bolder;
  margin-bottom: 2rem;
  color: #006dae;
  font-family: 'Roboto Condensed', sans-serif;
}

.text-content-lens p {
  margin-bottom: 2rem;
  color: #555;
  font-family: 'Roboto', sans-serif;
}

.image-content-lens {
  position: relative;
}

.image-content-lens img {
  width: 100%;
}

.responsive-image {
  width: 100%;
}





/* Owl image and text styling */
.owl-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #ddd;
  margin-top: 2rem;
  max-width: 73rem;
  margin: 0.8rem auto;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.image-content-owl {
  flex: 1;
}

.image-content-owl img {
  width: 100%;
  height: auto;
}

.text-content-owl {
  flex: 1;
  padding: 1rem;
  padding-left: 2.5rem;
  text-align: left;
}

.text-content-owl h2 {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 1.2rem;
  color: #006dae;
  font-family: 'Roboto Condensed', sans-serif;
}

.text-content-owl p {
  margin-bottom: 10rem;
  color: black;
  font-family: 'Roboto', sans-serif;
}



/* Latest news Styling */
.latest-news-heading {
  color: black;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30.4px;
}




/* Footer Styling */

footer {
  background-color: #333;
  color: #ddd;
  padding: 40px 0;
  margin-top: 30px;
  font-size: 16px;
}
                                     /* Container */
.footer-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-social {
  text-align: center;
  margin-bottom: 20px;
}

.footer-social i {
  color: #ddd;
  margin: 0 20px;
  font-size: 30px;
  cursor: pointer;
}

.footer-social i:hover {
  color: #fff;
}

.footer-acknowledgment {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}

.footer-acknowledgment a {
  color: #0af;
  text-decoration: none;
  font-weight: bold;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 0.5px solid #ddd;
  padding-bottom: 20px;
}

.footer-section h4 {
  margin-bottom: 15px;
  font-size: 18px;
  color: #fff;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-section a {
  color: #ddd;
  text-decoration: none;
  font-size: 16px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  font-size: 16px;
  border-bottom: 0.5px solid #ddd;
  padding-bottom: 20px;
}

.footer-info div {
  width: 22%;
}

.footer-bottom {
  display: grid;
  text-align: center;
  font-size: 14px;
}

.footer-bottom a {
  color: #ddd;
  text-decoration: none;
  margin: 0 10px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.footer-bottom p {
  margin-top: 20px;
}

footer {
  margin-right: -32px;
  padding: 60px 0;
  margin-left: -32px;
  margin-bottom: -32px;
}